html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  color: #2d2323;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetical Neue',
    sans-serif;
}

.helper {
  line-height: 1.3;
  color: #2d2323;
}

.tour-next-btn {
  background: #ffd900;
  border-radius: 2px;
  border: 0;
  font-family: SFUIText-Medium;
  font-size: 13px;
  color: #131422;
  text-align: right;
  line-height: 14px;
  padding: 7px 16px;
}

.tour-close-btn {
  border: 1px solid #d7d7d7;
  border-radius: 2px;
  font-family: SFUIText-Medium;
  font-size: 13px;
  color: #999999;
  text-align: right;
  line-height: 14px;
  padding: 7px 16px;
}
